/* *{
  margin: 0;
  box-sizing: border-box;
}
.heading {

  color: red;
  text-align: center;
} */

/* ----- - -  -  -  -- - - -  -- - - -- - -- --- - -- -- - - -- - - -- -  --- -- -- */

 /* greeting intereface css
body{


  background-color:rgb(97, 106, 235);
}
div{
margin-top: 100px;
  text-align: center;
 
} */
/* 

  - - - - - -- - - - - - - -- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
  /* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
  }
  .heading_style{

    padding: 30px;
    text-align: center;
    color: red;
    font-size: 50px;

  }
  .heading_style:hover {
    box-shadow: 0px 30px 18px -8px rbg(0,0,0,0.1);
    transform: scale(1.05,1.05);
  }
  .cards{
    width: 100%;
    height: auto;
  }
  .card{

    margin: 6%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rbg(0,0,0,0.1);
    background-color: #fff;
    width: 20.25%;
    transition: all 0.4s cubic-bezier(0.175 , 0.885 , 0 , 1);
    float: left;
  }
  .cards:hover {
    box-shadow: 0px 30px 18px -8px rbg(0,0,0,0.1);
    transform: scale(1.05,1.05);
  }
  .card_img {

    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card_info{

    background-color: #fff;
    padding: 16px 24px 24px 24px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  button{

    padding: 5px 8px;
    background-color: rgb(226, 46, 85);
    font-size: 13px;
    border-color: 2px solid red;
    border-radius: 312px;
  }
   */

   /* .d{
     text-align: center;
     border: 2px solid rgb(15, 14, 14);
     background-color:rgb(56, 200, 219);
     width: 200px;
     height: 200px;
     margin: 300px;
   } */
   /* body{

    background-color: rgb(125, 133, 25);
   } */
   /* button{
     background-color: red;
   } */

   *{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #d2dbdd;
    
   }

   div{

    width: 100%;
    height: 100vh;
    background:#8e44ad;
    align-items: center;
    justify-content: center;
       display: flex;
       flex-direction: column;
   }

   h1{

    color: white;
    background: transparent;
    text-shadow: 0 2px 2px black;
   }
   input{

    width: 50%;
    padding: 10px 20px;
    border: none;
    text-align: center;
    margin: 20px 0px;
    border-radius: 5px;
    
   }
button{

  line-height: 24px;
  padding: 0 20px;
  background-color: #9b59b6;
  outline: none;
  border-radius: 6px;
  color: white;
  text-transform : uppercase;
  cursor: pointer;
  border-color: white;
}